.progressbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  display: none;
}
.progressbar::before {
  content: '';
  height: 2px;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: rotateY(-50%);
  background-color: #d4c4bc;
  counter-reset: step;
}

.progressbar .step {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  font-weight: 900;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
  border: none;
  background-color: #d4c4bc;
  z-index: 1;
}

.progressbar .labals {
  position: absolute;
  top: calc(100% + 5px);
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #257886;
  font-size: 15px;
}

.progressbar .active {
  background-color: #9c6;
  color: white;
  position: relative;
}
.progressbar .inprogress {
  background-color: var(--color-primary);
  color: white;
  position: relative;
}

.progress-line {
  content: '';
  height: 2px;
  width: 0;
  position: absolute;
  top: 50%;
  transform: rotateY(-50%);
  background-color: #9c6;
  transition: 0.3s;
}

@media (max-width: 440px) {
  .progressbar .labals {
    display: none;
  }
}
